<!DOCTYPE html>
<html lang="es"
	xmlns:th="http://www.thymeleaf.org">
<head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/solid.min.css}">
    <link rel="stylesheet" th:href="@{/css/market.css}">
<title>Comentarios de la publicacion</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"> <img
			th:src="@{/images/IconsLogo.png}" width="30" height="30"
			class="d-inline-block align-top" alt="" loading="lazy"> Icons
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="#">Publicaciones Creador</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Comunidades</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Mi perfil</a>
				</li>

			</ul>

		</div>
	</nav>
	
		
	<section class="container">

		<h1 class="text-center" style="color:blue;">COMENTARIOS DE LA PUBLICACION DEL CREADOR </h1>

		<h1>Comentarios de la publicacion del creador</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Descripción</th>
					<th scope="col">Creador</th>
					<th scope="col">Fecha Creación</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="comentariocreadorPost : ${comentariocreadorposts}">
					<th th:text="${comentariocreadorPost.id}" scope="row">.</th>
					<td th:text="${comentariocreadorPost.descripcion}"></td>
					<td th:text="${comentariocreadorPost.creador}"></td>
					<td th:text="${comentariocreadorPost.fechaCreacion}"></td>
				</tr>
			</tbody>
		</table>

		<!-- Crear un formulario, ingresar data y enviarlo al controller -->
		<span th:text="'Registrar Comentario: '"></span>
		<form th:action="@{/comentariocreadorpost/save}" th:object="${comentariocreadorPost}"
			method="post">
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" th:field="*{descripcion}"
						placeholder="Descripcion">
				</div>
				<div class="col">
					<input type="text" class="form-control" th:field="*{creador}"
						placeholder="Creador">
				</div>
				<div class="col">
					<input type="text" class="form-control" th:field="*{fechaCreacion}"
						placeholder="Fecha Creacion">
				</div>
			</div>
			<button type="submit" class="btn btn-success">
				<i class="fas fa-save"></i> Registar
			</button>
		</form>

	</section>
</body>
</html>