<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<title>Publicaciones del creador de contenido</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img
			th:src="@{/images/IconsLogo.png}" width="30" height="30"
			class="d-inline-block align-top" alt="" loading="lazy"> Icons
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div>
			<form class="">
				<button type="submit" class="btn btn-warning">
					<i class="icon ion-md-help"></i>
				</button>
				<button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar
					sesion</button>
			</form>
		</div>
	</nav>
	
	<div class="d-flex" id="content-wrapper">
	<div id="sidebar-container" class="bg-dark">
	<div class="menu">
				<a href="publicaciones" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-apps lead mr-2"></i> Publicaciones</a> <a
					href="creadores" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-paper lead mr-2"></i> Creadores</a><a
					href="comunidades" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-people lead mr-2"></i> Comunidades</a> <a
					href="medios" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-card lead mr-2"></i> Medios de Pago</a> <a href="#"
					class="d-block text-light p-3 border-0"><i
					class="icon ion-md-person lead mr-2"></i> Perfil</a> <a href="#"
					class="d-block text-light p-3 border-0"> <i
					class="icon ion-md-settings lead mr-2"></i> Configuracion
				</a>
			</div>
		</div>
	<div class="container-fluid">
	<section class="container">

		<h1 class="text-center" style="color:blue;">PUBLICACIONES DEL CREADOR DE CONTENIDO </h1>

		<h1>Publicaciones del creador de contenido</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre de la publicacion</th>
					<th scope="col">Descripcion</th>
					<th scope="col">Creador</th>
					<th scope="col">Fecha Creacion</th>
					<th scope="col">Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="creadorPost : ${creadorposts}">
					<th th:text="${creadorPost.id}" scope="row">.</th>
					<td th:text="${creadorPost.nombre}"></td>
					<td th:text="${creadorPost.descripcion}"></td>
					<td th:text="${creadorPost.creador}"></td>
					<td th:text="${creadorPost.fechaCreacion}"></td>
	  				<td><a th:href="@{/comentariocreadorpost}" class="btn btn-primary"> Ver Comentarios</a>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Crear un formulario, ingresar data y enviarlo al controller -->
		<span th:text="'Registrar Publicacion: '"></span>
		<form th:action="@{/creadorpost/save}" th:object="${creadorPost}"
			method="post">
			<div class="row">
				<div class="col">
					<input type="text" class="form-control" th:field="*{nombre}"
						placeholder="Nombre">
				</div>
				<div class="col">
					<input type="text" class="form-control" th:field="*{descripcion}"
						placeholder="Descripcion">
				</div>
				<div class="col">
					<input type="text" class="form-control" th:field="*{creador}"
						placeholder="Creador">
				</div>
				<div class="col">
					<input type="text" class="form-control" th:field="*{fechaCreacion}"
						placeholder="Fecha Creacion">
				</div>
			</div>
			<button type="submit" class="btn btn-success">
				<i class="fas fa-save"></i> Registar
			</button>
		</form>
	</section>
	</div>
</div>
</body>
</html>