<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="bg-light">

	<nav class="navbar navbar-expand-lg navbar-custom">
		<a class="navbar-brand" href="#"> <img
			th:src="@{/images/IconsLogo.svg}" width="150" height="60"
			class="d-inline-block align-top" alt="" loading="lazy">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<form th:action="@{/comunidades/search_tema}" th:object="${comunidad}"
			method="post" class="form-inline my-2 my-lg-0">
			<input th:field="*{tema}" class="form-control mr-sm-2" type="search"
				placeholder="Buscar por tema">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		</form>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li th:href="@{'/comunidades-' + ${comunidad.id}}"
					class="nav-item active"></li>
			</ul>
		</div>
		<div>
			<form class="">
								<a href="/guiausuario" class="btn btn-warning" role="button" aria-pressed="true"><i class="icon ion-md-help"></i></a>
				<button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar
					sesion</button>
			</form>
		</div>
	</nav>

	<div class="d-flex" id="content-wrapper">
		<div id="sidebar-container" class="bg-dark">

			<div class="menu">
				<a th:href="@{~/publicaciones}" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-apps lead mr-2"></i> Publicaciones</a> <a
					href="creadores" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-paper lead mr-2"></i> Creadores</a><a
					th:href="@{~/comunidades}" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-people lead mr-2"></i> Comunidades</a> <a
					href="medios" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-card lead mr-2"></i> Medios de Pago</a> <a href="#"
					class="d-block text-light p-3 border-0"><i
					class="icon ion-md-person lead mr-2"></i> Perfil</a> <a href="#"
					class="d-block text-light p-3 border-0"> <i
					class="icon ion-md-settings lead mr-2"></i> Configuracion
				</a>
			</div>
		</div>

		<div class="container-fluid">

			<h1 class="text-center" style="color: black;">COMUNIDADES</h1>

			<!-- Crear un formulario, ingresar data y enviarlo al controller -->
			<span th:text="'Registrar Comunidad: '"></span>
			<form th:action="@{/comunidades/save}" th:object="${comunidad}"
				method="post">
				<div class="row">
					<div class="col">
						<input type="text" class="form-control" th:field="*{nombre}"
							placeholder="Nombre">
					</div>
					<div class="col">
						<input type="text" class="form-control" th:field="*{descripcion}"
							placeholder="Descripcion">
					</div>
					<div class="col">
						<input type="text" class="form-control" th:field="*{tema}"
							placeholder="Tema">
					</div>
					<div class="col">
						<input type="text" class="form-control"
							th:field="*{fechaCreacion}" placeholder="Fecha Creacion">
					</div>
				</div>
				<p></p>
				<p>
					<button type="submit" class="btn btn-success">
						<i class="fas fa-save"></i> Registar
					</button>
				</p>
			</form>

			<ul id="list-card" style="flex-flow: row wrap">
				<li th:each="comunidad : ${comunidades}">
					<div class="card text-white bg-dark mb-3" style="width: 18rem;">
					<div> </div>
					<h5 class="card-text text-center" th:text="${comunidad.nombre}"></h5>
						<img id="view-image" th:src="@{${comunidad.urlImage}}" class="img-thumbnail">
						<div class="card-body">
							
							<p class="card-text text-center" th:text="${comunidad.descripcion}"></p>
							<p class="card-text" th:text="'Tema: ' +${comunidad.tema}"></p>
							<p class="card-text text-right" th:text="${comunidad.fechaCreacion}"></p>
							<p class="card-text text-center">
								<a th:href="@{'/comunidades/' + ${comunidad.id}}" 
									class="btn btn-primary"><i class="fas fa-door-open" ></i> Unirse
								</a>
								<!--  <a th:href="@{'/comunidades/' + ${comunidad.id}}"
									class="btn btn-secondary"><i class="fas fa-list"></i> Ver Detalles
								</a>
								-->
								<a th:href="@{/comunidades/eliminar/}+${comunidad.id}"
									class="btn btn-danger"><i class="fas fa-trash-alt" ></i> Eliminar
								</a>
							</p>

						</div>
					</div>
				</li>
			</ul>

			<!-- <table class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th class="text-center" scope="col">#</th>
						<th class="text-center" scope="col">Nombre</th>
						<th class="text-center" scope="col">Descripcion</th>
						<th class="text-center" scope="col">Tema</th>
						<th class="text-center" scope="col">Fecha Creacion</th>
						<th class="text-center" scope="col">Unete a la Comunidad</th>
						<th class="text-center" scope="col">Eliminar Comunidad</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="comunidad : ${comunidades}">
						<th class="text-center" th:text="${comunidad.id}" scope="row">.</th>
						<td class="text-center" th:text="${comunidad.nombre}"></td>
						<td class="text-center" th:text="${comunidad.descripcion}"></td>
						<td class="text-center" th:text="${comunidad.tema}"></td>
						<td class="text-center" th:text="${comunidad.fechaCreacion}"></td>
						<td class="text-center"><a th:href="@{'/comunidades/view-' + ${comunidad.id}}">
								<img alt="imagen" th:src="@{/images/join_us.png}">
						</a></td>
						<td class="text-center"><a th:href="@{/comunidades/eliminar/}+${comunidad.id}"
							class="btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar</a></td>
					</tr>
				</tbody>
			</table> -->

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>