
.card {	
	display: flex!important; 
}

.a{
	width: 80px;
}

#list-creator {
	width: 113%;
	display: flex;
	padding-left: 0px;
	flex-flow: row wrap;
	margin-right: 0px;
}

#list-creator li{
	margin-right: 10px;
	margin-bottom: 10px;
	list-style: none;
}

#list-posts li{
	margin-right: 10px;
	margin-bottom: 10px;
	list-style: none;
}

#list-card {
	padding-left: 0px;
	display: flex;
}
#list-card li {
	list-style: none;
}
.card {
	margin: 10px;
}

.navbar-custom {
    color: #231E1E;
    background-color: #231E1E;
    padding-bottom: 17px;
    padding-top: 17px
}

#sidebar-container {
	height: 100rem;
	width: 200px;
	
}

#sidebar-container .logo {
	padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
	width: 18rem;
}