<<<<<<< HEAD
.card {	
	display: flex!important; 
}

.a{
	width: 80px;
}

#list-creator {
	width: 113%;
	display: flex;
	padding-left: 0px;
	flex-flow: row wrap;
	margin-right: 0px;
}

#list-creator li{
	
	list-style: none;
}

.card{
=======
#list-card {
	padding-left: 0px;
	display: flex;
}
#list-card li {
	list-style: none;
}
.card {
>>>>>>> b7842678a49aa7ff52102a175ac3a50fdc9337ce
	margin: 10px;
}