#list-card {
	padding-left: 0px;
	display: flex;
}
#list-card li {
	list-style: none;
}
.card {
	margin: 10px;
}
#view-card {
	display: flex;
	margin-left: 30px;
	
}
#view-image {
	border-radius: 10px;
}