<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<title>Guia a los creadores de contenido y usuarios sobre Icons</title>
</head>
<body class="bg-light">
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#"> <img
			th:src="@{/images/IconsLogo.png}" width="30" height="30"
			class="d-inline-block align-top" alt="" loading="lazy"> Icons
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<form th:action="@{/comunidades/search_tema}" th:object="${comunidad}"
			method="post" class="form-inline my-2 my-lg-0">
			<input th:field="*{tema}" class="form-control mr-sm-2" type="search"
				placeholder="Buscar por tema">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
		</form>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li th:href="@{'/comunidades-' + ${comunidad.id}}"
					class="nav-item active"></li>
			</ul>
		</div>
		<div>
			<form class="">
				<button type="submit" class="btn btn-warning">
					<i class="icon ion-md-help"></i>
				</button>
				<button class="btn btn-danger my-2 my-sm-0" type="submit">Cerrar
					sesion</button>
			</form>
		</div>
	</nav>

		
<main>
<div class="d-flex" id="content-wrapper">
<div id="sidebar-container" class="bg-dark">
	<div class="menu">
				<a href="publicaciones" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-apps lead mr-2"></i> Publicaciones</a> <a
					href="creadores" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-paper lead mr-2"></i> Creadores</a><a
					href="comunidades" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-people lead mr-2"></i> Comunidades</a> <a
					href="medios" class="d-block text-light p-3 border-0"><i
					class="icon ion-md-card lead mr-2"></i> Medios de Pago</a> <a href="#"
					class="d-block text-light p-3 border-0"><i
					class="icon ion-md-person lead mr-2"></i> Perfil</a> <a href="#"
					class="d-block text-light p-3 border-0"> <i
					class="icon ion-md-settings lead mr-2"></i> Configuracion
				</a>
			</div>
		</div>
		
<div class="container-fluid">
<section class="container">

	<font size="7" face="arial" color="blue"> Guia del correcto uso de la aplicacion Icons </font> <p> <p>
	<font size="4"><b> En esta guia se le informara al creador de contenido y usuario acerca de las funcionalidades que presenta la aplicacion Icons </b> </font> <p> 
	<div class="p-3 mb-2 bg-primary text-white">Como publicar contenido</div> <p> 
	<font size="4" face="georgia"> Si se encuentra en su perfil de creador de contenido, podra acceder a la funcion de publicar el contenido de su preferencia, ya sea texto o imagen, con nuestro apartado "Publicaciones". </font> <p> 
	<font size="4" face="georgia"> Cuando haya ingresado al apartado, tendra la opcion de registrar, editar o eliminar una publicacion. Use estas opciones sabiamente, todos los usuarios de Icons podran ver el contenido que suba. </font> <p> 
	<center>
	<img src="/images/publicarpost.png" title="publicar post" width="300px" height="300px">
	</center>
	
	<p> </p>
	<div class="p-3 mb-2 bg-success text-white">Como generar ganancias con Icons</div> <p> 
	<font size="4" face="georgia"> Si se encuentra en su perfil de creador de contenido, podra acceder a la funcion de ganar dinero mediante las suscripciones de los usuarios y supervizar el dinero ganado cuando quiera. </font> <p> 
	<font size="4" face="georgia"> Para supervisar su dinero, puede acceder al boton de "Ver ganancias" en el perfil de creador de contenido. Recuerde que los usuarios al apoyarlo esperan que tu les brindes contenido exclusivo. </font> <p> 
	<center>
	<img src="/images/generarganancias.jpg" title="generar ganancias" width="500px" height="300px">
	</center>
	<p> </p>
	
	<div class="p-3 mb-2 bg-danger text-white">Como interactuar con una comunidad</div> <p> 
	<font size="4" face="georgia"> Si se encuentra en su perfil de usuario, podra acceder a la funcion de crear y unirse a una comunidad en el apartado de "Comunidades". </font> <p> 
	<font size="4" face="georgia"> Cuando haya ingresado al apartado, tendra la opcion de registrar y unirse a una comunidad. Puede llamar a sus amigos para que usen "Icons" e interactuar con ellos mediante publicaciones y comentarios.</font> <p>
	<center>
	<img src="/images/comunidad.jpg" title="comunidad" width="500px" height="300px">
	</center>
	<p> </p>
	 
	<div class="p-3 mb-2 bg-warning text-dark">Como personalizar tu perfil </div> <p> 
	<font size="4" face="georgia"> Si se encuentra en su perfil de usuario, podra acceder a la funcion de personalizar su perfil a su gusto con el apartado del perfil. </font> <p> 
	<font size="4" face="georgia"> Cuando haya ingresado al apartado, tendra la opcion de editar datos de su perfil para que muchos mas usuarios de "Icons" puedan reconocerlo. </font> <p> 
	<center>
	<img src="/images/perfilusuario.jpg" title="personalizar perfil" width="400px" height="300px">
	</center>
	<p> </p>
	
	<div class="p-3 mb-2 bg-info text-white">Como funciona nuestro motor de busqueda </div> <p> 
	<font size="4" face="georgia"> Para acceder a nuestro motor de busqueda es necesario saber que comunidad o post buscara y alojarse en la parte superior de la barra de navegacion. </font> <p> 
	<font size="4" face="georgia"> Nuestro motor de busqueda funciona con palabras clave, frases, letras y el mismo nombre del post o comunidad. Puede buscar lo que desee cuando quiera. </font> <p> 
	<center>
	<img src="/images/motorbusqueda.png" title="motor de busqueda" width="500px" height="300px">
	</center>
	<p> </p>
</section>
</div>

</div>

</main>
</body>
</html>